In [1]:
from pyspark import SQLContext
sqlContext = SQLContext(sc)
fake_rdd=sc.textFile("Fake_data.txt").map(lambda line: line.split(","))
header = fake_rdd.first()
log_txt = fake_rdd.filter(lambda line: line != header)
fake_df=log_txt.toDF(['No','Birth_Country','Email','First_Name','Income','Job','Last_name','Loan_Approved','SSN'])
fake_df.registerTempTable("Fake_Table")
sqlContext.sql("select  max(Birth_Country),count(*) from Fake_Table group by Birth_Country order by count(*) desc limit 1").show()

+------------------+--------+
|max(Birth_Country)|count(1)|
+------------------+--------+
|             Korea|      91|
+------------------+--------+

In [2]:
sqlContext.sql("select avg(Income)  from Fake_Table where  Birth_Country='United States of America'").show()

+---------------------------+
|avg(CAST(Income AS DOUBLE))|
+---------------------------+
|         208759.82352941178|
+---------------------------+

In [3]:
sqlContext.sql("select count(*) from Fake_Table where loan_approved='FALSE' and Income>100000").show()

+--------+
|count(1)|
+--------+
|    4009|
+--------+

In [4]:
sqlContext.sql("select  First_Name as Name,Job,Income  from Fake_Table where  Birth_Country='United States of America' order by cast(Income as double) desc limit 10").show()

+--------+--------------------+------+
|    Name|                 Job|Income|
+--------+--------------------+------+
|  Alyssa|Amenity horticult...|482588|
|  Hunter|Psychologist pris...|468946|
|    Rose|Adult guidance wo...|426115|
|Danielle|Furniture conserv...|389810|
|   Terry|       Meteorologist|380410|
|   Cindy|Research scientis...|370322|
|   Scott|       Art therapist|368913|
| Christy|       Engineer land|355150|
|   Kelly|           Press sub|341448|
|Kristina|           Herbalist|338804|
+--------+--------------------+------+

In [5]:
sqlContext.sql("select count(distinct job) from Fake_Table").show()

+-------------------+
|count(DISTINCT job)|
+-------------------+
|                640|
+-------------------+

In [6]:
sqlContext.sql("select count(*) as NumberofWriters from Fake_Table where Job='Writer' and Income<100000").show()

+---------------+
|NumberofWriters|
+---------------+
|              5|
+---------------+